<li id='<%= comment.id %>', class='flex gap-2 bg-slate-500 rounded-xl py-1 px-2'>
  <span class='font-bold'>👦️ <%= comment.commenter %></span> 
  <span> <%= comment.body %> </span>
  <%= link_to '🗑️', articles_path, class: 'bg-blue-900 py-1 px-2 rounded ml-auto'%>
</li>