<div class='flex-flex-col'>
  <%= form_with model: [@article, @article.comments.build] do |f| %>
    <%= f.text_field :commenter, placeholder: 'Username', class: 'rounded-lg bg-slate-600 text-slate-200 min-w-full p-1'%>
    <%= f.text_field :body, placeholder: 'Your comment here...', class: 'rounded-lg bg-slate-600 text-slate-200 min-w-full p-1 my-1'%>
    <%= f.submit 'Send', class: 'bg-blue-900 rounded py-1 px-4 cursor-pointer' %>
  <% end %>
</div>