<li class='flex flex-col gap-2 rounded-lg bg-slate-600 my-2 py-2 px-2'>
  <p>Title: <%= article.title %></p>
  <p>Body: <%= article.body %></p>
  <div>
  <%= link_to 'Show', article_path(article), class: 'border border-slate-500 hover:bg-blue-900 rounded-lg px-4 py-1 cursor-pointer' %>
  <%= link_to 'Edit', edit_article_path(article), class: 'border border-slate-500 hover:bg-blue-900 hover:border-0 rounded-lg px-4 py-1 cursor-pointer' %>
</li>