<div class='flex flex-col gap-4'>
  <h1 class='text-center'>Articles</h1>
  <ul>
    <%= render @articles %>
  </ul>
  <div>
    <%= link_to 'New article', new_article_path, class: 'border border-slate-500 hover:border-slate-400 rounded-lg px-2 py-1 bg-slate-700 cursor-pointer'%>
  </div>
</div>
